langgraph
langchain
langchain-google-genai
langchain-community
langchain-tavily
langchain-mcp-adapters
psycopg[binary]
psycopg_pool
tavily-python
requests
langgraph-checkpoint-postgres
airportsdata
pycountry
fastapi
uvicorn
jinja2
mcp